[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "EasyEmbeddedFramework"]
	path = EasyEmbeddedFramework
	url = git@github.com:QuangHaiNguyen/EasyEmbeddedFramework.git
